.App {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.reference-form {
  min-width: 75vw;
}

.form--label {
  display: flex;
  flex-direction: column;
}

.form--button-section {
  display: flex;
  justify-content: flex-end;
}

section {
  margin-bottom: 2rem;
}

button {
  margin-left: 1rem
}